body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.registro-container {
    width: 350px;
}

.registro-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registro-form h2 {
    text-align: center;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group button,
.button-group a {
    width: 48%;
    text-align: center;
    text-decoration: none;
    background-color: #0072e8;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button-group button:hover,
.button-group a:hover {
    background-color: #0056b3;
}
