<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
<div class="registro-container">
    <form class="registro-form" action="#" method="post">
        <h2>Registro</h2>
        <div class="input-row">
            <div class="input-group left-row">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" required maxlength="50">
            </div>
            <div class="input-group right-row">
                <label for="surname">Apellido</label>
                <input type="text" id="surname" name="surname" required maxlength="50">
            </div>
        </div>
        <div class="input-row">
            <div class="input-group left-row">
                <label for="emailUser">Correo electrónico</label>
                <input type="email" id="emailUser" name="emailUser" required maxlength="80">
            </div>
            <div class="input-group right-row gender">
                <label for="gender">Género</label>
                <select id="gender" name="gender" required>
                    <option value="null">Seleccionar</option>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMENINO">Femenino</option>
                    <option value="OTRO">Otro</option>
                </select>
            </div>
        </div>
        <div class="input-row">
            <div class="input-group left-row">
                <label for="idDocument">Tipo de Documento:</label>
                <select id="idDocument" name="idDocument" required>
                    <option value="null">Seleccionar</option>
                    <!-- Documentos se cargarán aquí dinámicamente -->
                </select>
            </div>
            <div class="input-group num-document">
                <label for="numDocument">Número de Documento</label>
                <input type="text" id="numDocument" name="numDocument" required maxlength="15">
            </div>
        </div>
        <div class="input-row">
            <div class="input-group left-row">
                <label for="telephone">Teléfono</label>
                <input type="text" id="telephone" name="telephone" placeholder="(Opcional)" minlength="9" maxlength="9">
            </div>
            <div class="input-group right-row">
                <label for="mobile">Móvil</label>
                <input type="text" id="mobile" name="mobile" placeholder="(Opcional)" minlength="9" maxlength="9">
            </div>
        </div>
        <div class="input-row">
            <div class="input-group left-row">
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" name="username" required maxlength="40">
            </div>
            <div class="input-group right-row">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required minlength="5" maxlength="20">
            </div>
        </div>
        <div class="input-row">
            <div class="input-group">
                <label for="idRole">Rol</label>
                <select id="idRole" name="idRole" required>
                    <!-- Roles se cargarán aquí dinámicamente -->
                </select>
            </div>
        </div>
        <div class="button-group">
            <button type="submit">Registrarse</button>
            <a th:href="@{/login}">Iniciar Sesión</a>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/signup.js}"></script>
</body>
</html>
